.container {
  width: 96%;
  height: 96px;
  border: 1px solid white;

  position: absolute;
  right: 0px;
  padding-top: 40px;
}
@media (max-width: 768px) {
  .container {
    width: 94%;

    position: absolute;
    margin: 0px;
    right: 0px;
    top: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 375px) {
  .container {
    width: 67%;
    height: 667px;

    position: absolute;
    top: 0px;
    right: 0px;
    left: 124px;
  }
}
.navbar-bg {
  width: 57%;
  height: 96px;

  position: absolute;
  display: inline;
  right: 0px;
}
@media (max-width: 1904px) {
  .navbar-bg {
    backdrop-filter: blur(40.7742px);
  }
}
@media (max-width: 768px) {
  .navbar-bg {
    width: 61%;
    background-color: #161616;
  }
}
@media (max-width: 375px) {
  .navbar-bg {
    width: 254px;
    height: 667px;
    background-color: transparent;
    backdrop-filter: blur(40.7742px);

    position: absolute;
    right: 0px;
  }
}
.nav-list {
  width: 65%;
  margin: 39px 20% 38px 14%;
  justify-content: space-around;
  display: flex;
}
.nav-item {
  display: inline-flex;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: lighter;
  letter-spacing: 2.7px;
}
a.menu:link {
  text-decoration: none;
  font-weight: lighter;
  color: #ffff;
}
a.menu:visited {
  text-decoration: none;
  font-weight: lighter;
  color: #ffff;
}
#invisible {
  visibility: visible;
}
@media (max-width: 768px) {
  #invisible {
    visibility: hidden;
  }
}
@media (max-width: 375px) {
  #invisible {
    visibility: visible;
  }
}
