/*******************Tagging Style*******************/
body {
    background-image: url("assets/home/background-home-desktop.jpg");
    display: block;
}
h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: normal;
    color: #ffff;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    height: 115px;
    width: 333px;
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #ffff;

    position: relative;
    margin-top: 37px;
    margin-bottom: 14px;

}
h3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #ffff;

    display: flex;
    position: absolute;
    top: 452px;
    left: 165.5px;
}
h3.two {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #ffff;

    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    margin-top: 11px;
    margin-bottom: 17px;
}
h4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    font-weight: lighter;
    text-transform: uppercase;

    display: flex;
    position: absolute;
    top: 400px;
    left: 165.5px;
}
h5.one {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 5px;
    line-height: 34px;
    text-transform: uppercase;
    
    position: relative;
}
h5.two {
    color: #ffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 5px;
    line-height: 34px;
    text-transform: uppercase;
    
    position: absolute;
    left: 166.5px;
    top: 212px;
}
@media (min-width:400px) {
    h5.two {
        color
    }
}